#welcome-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel {
    height: 20%;
    display: flex;
   flex-direction: row;
   align-items: center;
}

.leftpane{
height:100%;
}

.rightpane{
height: 100;
width: 300px;
margin-left: 10ex;
margin-top:20px;
align-content: flex-start;
}

#foot {
    margin-left: 1ex;
    margin-top: 15%
}
#footer-ending {
    
}

img {
    height: 10ex;
    width: 10ex;
}

h1 {
    display: block
}